/*<meta />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

@font-face 
{
	font-family: "Tenon";
	src: url("../Fonts/Tenon Regular.ttf");
}

@font-face 
{
	font-family: "Source Code Pro";
	src: url("../Fonts/SourceCodePro-Regular.ttf");
}

@font-face 
{
	font-family: "RobotoMono";
	src: url("../Fonts/RobotoMono-Regular.ttf");
}

/*
a[target="_blank"]:after 
{
	content: "";
 	width: 11px;
  	height: 11px;
  	margin-left: 4px;
  	background-image: url("..Images/link.png");
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: contain;
  	display: inline-block;
}

*/

.micro-response-116583033 a:link
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a:visited
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a:hover
{
	color: #0572ed;
	text-decoration: underline;
}

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component > ul > li > a:hover
{
	font-weight: normal;
	border-left: 2px solid #ef5b18;
	margin-left: -2px;
}

.micro-response-116583033 a:active
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033
{
	font-family: 'Tenon';
	font-size: 1em;
}

.micro-response-116583033 h1
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 600;
	font-size: 33px;
	line-height: 36px;
	color: #0572ed;
}

.micro-response-116583033 h2
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	color: #0572ed;
	padding-top: 40px;
}

.micro-response-116583033 h3
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 36px;
	color: #0572ed;
	padding-top: 20px;
}

.micro-response-116583033 h4
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 36px;
	color: #0572ed;
	padding-top: 30px;
}

.micro-response-116583033 h5
{
	font-weight: bold;
	font-size: 10.0pt;
}

.micro-response-116583033 h6
{
	font-weight: bold;
	font-size: 8.0pt;
}

.micro-response-116583033 p
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 21px;
	margin-top: 0pt;
	margin-bottom: 9px;
	color: #000000;
	text-align: justify;
}

.micro-response-116583033 ol,
.micro-response-116583033 ul
{
	margin-top: 3px;
	margin-bottom: 3px;
}

.micro-response-116583033 ol
{
	color: #000000;
}

.micro-response-116583033 ul.admonition,
.micro-response-116583033 ol.admonition
{
	margin-left: 15px;
}

.micro-response-116583033 img.popup-1000
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 1000px;
}

.micro-response-116583033 img.popup-700
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 700px;
}

.micro-response-116583033 img.popup-500
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 500px;
}

.micro-response-116583033 img.popup-300
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 300px;
}

.micro-response-116583033 img.popup-200
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 200px;
}

.micro-response-116583033 .body-container
{
	padding-top: 2em;
	padding-left: 3em;
	padding-right: 3em;
}

/* aligns images to the left of list */

.micro-response-116583033 .container__image
{
	float: left;
}

.micro-response-116583033 .container
{
	min-height: 500px;
}

.micro-response-116583033 .container_tall
{
	min-height: 900px;
}

/* Add padding to breadcrumbs and topic toolbar 

.nocontent 
{
    padding-left: 3em;
    padding-right: 3em;
}
*/

/*== Other topics header bar styles ==*/

.micro-response-116583033 .title-bar-container
{
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	/*adds the shadow effect to the header*/
}

/*== Madcap proxy assigned styles ==*/

.micro-response-116583033 span.MCBreadcrumbsDivider
{
	padding-left: 10px;
	padding-right: 10px;
}

.micro-response-116583033 span.SearchHighlight
{
	
}

/* Misc para styles */

.micro-response-116583033 pre
{
	padding: 3px;
	font-family: Source Code Pro;
	font-style: normal;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

.micro-response-116583033 p.indent
{
	margin-left: 15px;
}

.micro-response-116583033 p.SeeAlso
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #0572ed;
}

.micro-response-116583033 p.NextStep
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 36px;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #0572ed;
}

.micro-response-116583033 p.stem
{
	font-weight: bold;
	margin-top: 6px;
}

.micro-response-116583033 p.LastUpdated
{
	font-size: 12px;
	font-style: italic;
	margin-top: 20px;
	margin-bottom: 20px;
}

.micro-response-116583033 code.latest
{
	padding: 3px;
	background-color: #9cc1ff;
	border-radius: 6px;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-top: 3px;
}

.micro-response-116583033 .codeblock
{
	padding: 16px;
	background-color: #f5f5f5;
	border-radius: 6px;
	font-family: 'RobotoMono';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 6px;
}

.micro-response-116583033 code
{
	padding: 3px;
	background-color: #f5f5f5;
	border-radius: 6px;
	font-family: 'RobotoMono';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 3px;
}

.micro-response-116583033 code.url
{
	padding: 3px;
	background-color: #E4EEFC;
	border-radius: 6px;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 3px;
}

.micro-response-116583033 code.version
{
	padding: 3px;
	background-color: #F5F5F5;
	border-radius: 6px;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 3px;
}

.micro-response-116583033 code.warning
{
	padding: 3px;
	background-color: #f5f5f5;
	border-radius: 6px;
	font-family: 'RobotoMono';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: red;
	margin-top: 3px;
}

.micro-response-116583033 code.success
{
	padding: 3px;
	background-color: #f5f5f5;
	border-radius: 6px;
	font-family: 'RobotoMono';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: green;
	margin-top: 3px;
}

/* Glossary buttons */

.micro-response-116583033 a.glossary
{
	padding: 3px;
	background-color: #0572ed;
	border-radius: 6px;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-top: 3px;
}

.micro-response-116583033 a.glossary:link
{
	color: #ffffff;
	text-decoration: none;
}

.micro-response-116583033 a.glossary:visited
{
	color: #ffffff;
	text-decoration: none;
}

.micro-response-116583033 a.glossary:hover
{
	color: #ffffff;
	text-decoration: none;
}

/* Admonition styles */

.micro-response-116583033 .Admonition_Note
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Recommendation
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Caution
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #ef5b18;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Warning
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #ef5b18;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Important
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Tip
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
	width: fit-content;
}

.micro-response-116583033 .Admonition_Head
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 36px;
	align-items: center;
	color: #0572ed;
	margin-left: 15px;
}

.micro-response-116583033 .Admonition_Text
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-left: 35px;
}

.micro-response-116583033 .Admonition_List_Indent
{
	margin-left: 20px;
}

/* Table styles */

.micro-response-116583033 table
{
	background-color: transparent;
	/*border: solid 1px #9cc1ff;*/
	border-collapse: collapse;
	text-align: left;
	line-height: normal;
	margin-top: 20px;
	margin-bottom: 20px;
}

.micro-response-116583033 table.no_lines,
.micro-response-116583033 table.no_lines td,
.micro-response-116583033 table.no_lines th
{
	border: none;
	border-collapse: collapse;
}

.micro-response-116583033 th
{
	border-right-style: solid;
	border-right-color: #9cc1ff;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-color: #9cc1ff;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #9cc1ff;
	border-top-width: 1px;
	border-bottom: 1px solid #E4EEFC;
	padding: 0.5em;
	vertical-align: bottom;
	text-align: left;
	background-color: #E4EEFC;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	align-items: center;
	color: #000000;
}

.micro-response-116583033 td
{
	background-color: transparent;
	border-top-style: solid;
	border-top-color: #9cc1ff;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-color: #9cc1ff;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9cc1ff;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-color: #8AA5C8;
	border-left-width: 1px;
	border-spacing: 0px 0px;
	color: #9cc1ff;
	padding: 0.5em;
	vertical-align: top;
	text-align: left;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
}

/* old & unused table styles 
table	
{
	border: solid 1px #808F87;

}

tbody
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;

}



td.main
{
	color: #000000
;
	font-family: 'Tenon';
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 21px;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom: 1px solid #808F87;
	vertical-align: top;
}

th.main
{
	color: #000000
;
	font-family: 'Tenon';
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	font-style: normal;
	background-color: #F6F8FA;
	vertical-align: top;
	text-align: left;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

td.center
{
	text-align: center;
}

td.narrow

/* 	When you create an image map in a table, 
	use the following "td" style to create less padding around the image, and a small left margin
	{
		padding: 0em;
		margin-left: 1px;
	}
	
	th.null
	{
		border: none;
		color: #000000;
	}
	
	td.null
	{
		border: none;
		border-collapse: collapse;
	}
	
	
	
	td[style^="font-weight: bold"]
	{
		font-size: 0.95em !important;
	}
	
	td span[style^="font-weight: bold"]
	{
		font-size: 0.95em !important;
	}


	
th.center
{
	text-align: center;
}


tr
{
	page-break-inside: avoid;

}

/*
tr.allowBreak
{
	page-break-inside: auto;
}
*/

/* Containers for layout of OtherTopics master page */

.micro-response-116583033 div.topic-body
{
	width: 80%;
	float: left;
	margin-right: 3%;
	padding-bottom: 10%;
}

.micro-response-116583033 div.menu-container
{
	float: right;
	width: 15%;
	margin-right: 2%;
}

/*
div.topic-container
{
	margin-bottom: 70%;
    padding-left: 3em;
    padding-right: 3em;
}
*/

.micro-response-116583033 ul.menu > ul > li
{
	border-left: 1px solid #9cc1ff;
}

.micro-response-116583033 .sticky-menu > .menu > li:nth-child(1)
{
	display: none;
}

/*== Footer ==*/

.micro-response-116583033 div.home-footer
{
	background-color: #ffffff;
	/* padding: 1% 5%;
    position: absolute;
    bottom: 0; */
	width: 100%;
	margin-top: 5%;
	/*	border-top: #D6D6D6;
	border-top-style: solid;
	border-top-width: 1px; */
	position: absolute;
	bottom: 0;
}

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component
{
	width: 270px;
	overflow: hidden;
	padding-top: 10px;
}

.micro-response-116583033 p.footer
{
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 13pt;
	color: #ffffff;
	font-size: 12px;
}

/*footer styling*/

.micro-response-116583033 .panel,
.micro-response-116583033 .panel-holder
{
	margin: 0.5em;
	background: #fff;
	padding: 0.5em;
	border-top: 2px solid #eee;
	height: 120px;
	width: 99%;
	position: absolute;
	bottom: 0;
}

.micro-response-116583033 .right-align
{
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #0572ed;
	float: right;
}

.micro-response-116583033 .right-align-2
{
	text-align: right;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
	float: right;
}

.micro-response-116583033 .left-align
{
	text-align: left;
	width: 80%;
	float: left;
	position: absolute;
	bottom: 5px;
}

.micro-response-116583033 .left-align-2
{
	text-align: left;
	float: left;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #636363;
}

.micro-response-116583033 .right-align,
.micro-response-116583033 .left-align
{
	display: inline-block;
}

.micro-response-116583033 .right-align
{
	position: absolute;
	right: 14px;
	bottom: 60px;
}

.micro-response-116583033 .right-align-2
{
	position: absolute;
	right: 14px;
	bottom: 16px;
}

.micro-response-116583033 a.footer1:link
{
	color: #0572ed;
	text-decoration: none;
	margin-left: 30px;
}

.micro-response-116583033 a.footer1:visited
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1:hover
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1last:link
{
	margin-left: 30px;
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer1last:visited
{
	color: #0572ed;
	text-decoration: none;
}

.micro-response-116583033 a.footer2:link
{
	color: #636363;
	text-decoration: none;
	margin-left: 30px;
}

.micro-response-116583033 a.footer2:visited
{
	color: #636363;
	text-decoration: none;
}

.micro-response-116583033 a.footer2:hover
{
	color: #636363;
	text-decoration: none;
}

/*Topic with image on left, text on right */

/*
.container
{
	display: flex;

  img {
	width: 100%;

  .image
   {
	flex-basis: 50%;

  .text
   {
	font-size: 20px;
	padding-left: 20px;
   }
  }
 }
}
*/

/*Anchor with a after image
a::after {

	content: "../Images/link.png" ;
	color:green;
	font-weight:bolder;
	font-size:0.66em;
	vertical-align:top;

}	  
*/

/*****Start Custom SideNav Styles*****/
/** set vertical scroll bar to be displaying by default **/

/*
nav.sidenav-wrapper
{
	overflow-y: scroll;
}
*/

/** set explicit width for sidenav to prevent moving when the scroll bar displays **/

/*
nav.sidenav-wrapper
{
	width: 480px;
}

ul.sidenav
{
	width: 470px;
	padding-left: 5px;
}
*/

/** removes previous sidenav icons **/

.micro-response-116583033 ul.sidenav span.submenu-toggle
{
	border: none !important;
}

/** adds new sidenav icons for expand/collapse **/

.micro-response-116583033 ul.sidenav span.submenu-toggle-container
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-open.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container[aria-expanded="true"]
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-close.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container:hover
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-open.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.micro-response-116583033 ul.sidenav span.submenu-toggle-container[aria-expanded="true"]:hover
{
	background-image: url('../../Resources/Images/side-nav-menu/menu-close.svg');
	background-repeat: no-repeat;
	background-position: center;
}

/** adds padding to the sidenav to accomodate the new images for top-level TOC entries **/

.micro-response-116583033 ul.sidenav > li > a
{
	padding-left: 30px;
}

.micro-response-116583033 ul.sidenav ul > li > a
{
	padding-left: 30px;
	padding-top: 00.5em;
}

.micro-response-116583033 ul.sidenav ul ul > li > a
{
	padding-left: 40px;
}

/** adds background images to every top-level TOC entry **/

.micro-response-116583033 ul.sidenav > li > a
{
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: left;
}

.micro-response-116583033 ul.sidenav > li:nth-child(1) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/overview.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(2) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/start.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(3) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/implement.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(4) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/sdk.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(5) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/api.svg');
}

.micro-response-116583033 ul.sidenav > li:nth-child(6) > a
{
	background-image: url('../../Resources/Images/side-nav-menu/glossary.svg');
}

/** removes bottom border on top-level expanded TOC entries **/

.micro-response-116583033 ul.sidenav > li.tree-node.is-accordion-submenu-parent,
.micro-response-116583033 ul.sidenav > li.tree-node.tree-node-leaf.tree-node-selected
{
	border-bottom: solid 1px #8aa5c8;
}

.micro-response-116583033 ul.sidenav li.tree-node.is-accordion-submenu-parent > a
{
	border-bottom: none !important;
}

.micro-response-116583033 ul.sidenav ul.is-accordion-submenu
{
	padding-bottom: 5px !important;
}

.micro-response-116583033 ul.sidenav li ul li.tree-node.is-accordion-submenu-parent
{
	border-bottom: none;
}

/** adds images for toolbar **/

.micro-response-116583033 ._Skins_Toolbar.mc-component .button.next-topic-button .button-icon
{
	background-image: url('../../Resources/Images/toolbar/next-topic.svg');
}

.micro-response-116583033 ._Skins_Toolbar.mc-component .button.previous-topic-button .button-icon
{
	background-image: url('../../Resources/Images/toolbar/previous-topic.svg');
}

/** adds hover images for toolbar **/

.micro-response-116583033 ._Skins_Toolbar.mc-component .button.next-topic-button .button-icon:hover
{
	background-image: url('../../Resources/Images/toolbar/next-topic-hover.svg');
}

.micro-response-116583033 ._Skins_Toolbar.mc-component .button.previous-topic-button .button-icon:hover
{
	background-image: url('../../Resources/Images/toolbar/previous-topic-hover.svg');
}

/*
._Skins_Toolbar.mc-component .button.next-topic-button .button-icon-wrapper 
{
    width: 28px;
    height: 28px;
}
*/

.micro-response-116583033 ul.sidenav > li.tree-node-leaf
{
	border-bottom: solid 1px #8aa5c8;
}

/*****End Custom SideNav Styles*****/
/***** Add dot to active menu item in right side mini TOC *****/

/*
ul.menu._Skins_MenuProxy.mc-component > ul > li > a.selected:before
{
	content: '\25CF';
    color: #429DDF;
    position: absolute;
    left: 5.8px;
    font-size: 9px;
}
*/

/***** Add vertical border to active menu item in right side mini TOC *****/

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component > ul > li > a.selected
{
	font-weight: bold;
	border-left: 2px solid #ef5b18;
	margin-left: -2px;
}

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component > ul > li > a.selected:hover
{
	font-weight: bold;
	border-left: 2px solid #ef5b18;
	margin-left: -2px;
}

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component ul > li > a
{
	padding-bottom: 10px;
}

/***** Add spacing in menu *****/

.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component li > a
{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Custom counter that will update all ordered lists to use the counter */

.micro-response-116583033 ol
{
	list-style: none;
	margin: 1em 0;
	padding: 0 0 0 40px;
	counter-reset: my-awesome-counter;
}

.micro-response-116583033 ol.continue
{
	list-style: none;
	margin: 1em 0;
	padding: 0 0 0 40px;
	counter-reset: none;
}

.micro-response-116583033 ol > li,
.micro-response-116583033 ol.continue > li
{
	margin: .5em 0;
	padding: 0;
	counter-increment: my-awesome-counter;
}

.micro-response-116583033 ol > li:before,
.micro-response-116583033 ol.continue > li:before
{
	content: counter(my-awesome-counter);
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 -30px;
	background: #0572ed;
	color: #fff;
	width: 1.7em;
	line-height: 1.7em;
	text-align: center;
	border-radius: 1in;
}

.micro-response-116583033 ol > li > p:first-child,
.micro-response-116583033 ol.continue > li > p:first-child
{
	display: inline-block;
	padding-left: 5px;
}

.micro-response-116583033 .container__text ol > li > p:nth-child(2),
.micro-response-116583033 .container__text ol > li > p:nth-child(3)
{
	display: block;
	margin-left: 12px;
	/* width: fit-content; */
}

.micro-response-116583033 ol > li > p:nth-child(2),
.micro-response-116583033 ol > li > p:nth-child(3)
{
	display: block;
	margin-left: 12px;
	/* width: fit-content; */
}

/* aligns images to the left of list */

.micro-response-116583033 .container__image
{
	float: left;
}

.micro-response-116583033 .container__text
{
	width: 70%;
	float: right;
}

.micro-response-116583033 .container
{
	min-height: 500px;
}

.micro-response-116583033 .container_tall
{
	min-height: 900px;
}

/*Replace logo with SVG*/

.micro-response-116583033 .title-bar-layout a.logo
{
	background: url('../../Resources/Images/WHITE_InfiniteBlue_Horizontal_Logo_30px.png') left center no-repeat transparent !important;
}

.micro-response-116583033 code.version
{
	padding: 3px;
	background-color: #808F87;
	border-radius: 6px;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	margin-top: 3px;
}

.micro-response-116583033 .Admonition_Note
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

.micro-response-116583033 .Admonition_Recommendation
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #429DDF;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

.micro-response-116583033 .Admonition_Caution
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #ef5b18;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

.micro-response-116583033 .Admonition_Warning
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #D1525A;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

.micro-response-116583033 .Admonition_Important
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #0572ed;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

.micro-response-116583033 .Admonition_Tip
{
	padding: 16px;
	background-color: #ffffff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
	border-left: 2px solid #429DDF;
	font-family: 'Tenon';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	margin-top: 30px;
	margin-bottom: 15px;
}

/* Media images*/

.micro-response-116583033 .max-width
{
	max-width: 75%;
}

.micro-response-116583033 img
{
	mc-thumbnail: hover;
	mc-thumbnail-max-width: 100%;
	mc-thumbnail-max-height: auto;
	max-width: 100%;
}

@media only screen and (max-width: 1100px)
{
	.micro-response-116583033 .body-container
	{
		padding-left: 1em;
		padding-right: 1em;
	}

	.micro-response-116583033 .container__text
	{
		width: 70%;
	}

	.micro-response-116583033 .container__image
	{
		width: 28%;
	}

	.micro-response-116583033 .container_tall
	{
		min-height: 700px;
	}

	.micro-response-116583033 .max-width
	{
		max-width: 100%;
	}
}

@media only screen and (max-width: 600px)
{
	.micro-response-116583033 .right-align-2
	{
		width: 73%;
		bottom: 24px;
	}

	.micro-response-116583033 a.footer1:link,
	.micro-response-116583033 a.footer1last:link,
	.micro-response-116583033 a.footer2:link
	{
		margin-left: 10px;
		font-size: 10px;
	}

	.micro-response-116583033 div.topic-body
	{
		margin-bottom: 30px;
	}

	.micro-response-116583033 .container__text
	{
		float: none;
		width: 100%;
		clear: left;
	}

	.micro-response-116583033 .container__image
	{
		width: 75%;
		float: none;
	}

	.micro-response-116583033 .container__text br
	{
		display: none;
	}

	.micro-response-116583033 ol > li > p,
	.micro-response-116583033 ol.continue > li > p
	{
		display: inline !important;
		padding-left: 5px !important;
		margin-left: -10px;
	}

	.micro-response-116583033 .container__text ol > li > p:nth-child(2),
	.micro-response-116583033 .container__text ol > li > p:nth-child(3)
	{
		margin-left: -5px;
	}

	.micro-response-116583033 .menu-container
	{
		display: none;
	}

	.micro-response-116583033 .topic-body
	{
		width: 100% !important;
	}
}

@media only screen and (min-width: 1394px) and (max-width: 1816px)
{
	.micro-response-116583033 .container__text
	{
		width: 60%;
	}
}

@media only screen and (min-width: 1101px) and (max-width: 1393px)
{
	.micro-response-116583033 .container__image
	{
		float: none;
		display: block;
	}

	.micro-response-116583033 .container_tall
	{
		min-height: 700px;
	}

	.micro-response-116583033 .container__text
	{
		width: 100%;
		float: none;
	}

	.micro-response-116583033 .container__text br
	{
		display: none;
	}

	.micro-response-116583033 ul.menu._Skins_MenuProxy.mc-component
	{
		width: 178px;
	}
}

@media only screen and (min-width: 937px) and (max-width: 1099px)
{
	
}

@media only screen and (min-width: 601px) and (max-width: 936px)
{
	.micro-response-116583033 .container__image
	{
		float: none;
		display: block;
		width: 45%;
	}

	.micro-response-116583033 .container__text
	{
		width: 100%;
		float: none;
	}

	.micro-response-116583033 .container__text br
	{
		display: none;
	}

	.micro-response-116583033 .menu-container
	{
		display: none;
	}

	.micro-response-116583033 .topic-body
	{
		width: 100% !important;
	}

	.micro-response-116583033 .container__text br
	{
		display: none;
	}

	.micro-response-116583033 .container_tall
	{
		min-height: 700px;
	}
}

/* SDK option filtering */

.micro-response-116583033 select.option-filter
{
	font-family: 'Tenon';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	background-color: #f5f5f5;
}

.micro-response-116583033 ul.sidenav ul > li > a.hover
{
	background-color: #0572ed;
}

.micro-response-116583033 span.uicontrol
{
	font-weight: bold;
}

/* Examples Start */

.micro-response-116583033 div.example,
.micro-response-116583033 div.examples
{
	background-color: #ffffff;
	background-repeat: no-repeat;
	border: solid 2px #5308be;
	line-height: 20pt;
	padding-left: 40px;
	padding-right: 10px;
	margin: 20px 10px 20px 0;
	letter-spacing: .25px;
	background-image: url('../../Resources/Images/icons/example.png');
	padding-top: 0px;
	padding-bottom: 0px;
	background-position: 10px 24px;
}

.micro-response-116583033 div.example > p:first-child
{
	mc-auto-number-format: '{b}{color #242729}Example {/color}{/b}';
	mc-auto-number-class: Admonition;
}

.micro-response-116583033 div.examples > p:first-child
{
	mc-auto-number-format: '{b}{color #242729}Examples {/color}{/b}';
	mc-auto-number-class: Admonition;
}

.micro-response-116583033 .micro-content-container .micro-response div.example,
.micro-response-116583033 .micro-content-container .micro-response div.examples
{
	background-position: 10px 10px;
}

/* Examples End */

